/*  your css code here. If applicable */
.btn{
	background-color:red;
	color:white;
	hieght:100px;
	
}
.card{
	widht:100px;
	background-color:whitesmoke;
	justify-content:center;
	align-items:center;
}